bin
node_modules
.gomodcache
.vscode
testdata/*
!testdata/ethereum-tests
!testdata/configtx.yaml
!testdata/crypto-config.yaml
!testdata/fxconfig.yaml
!testdata/tether_txs.json
!testdata/alloc_tether_replay.json
!testdata/test_accounts.json
*.un~
*.swp
